<!-- This is a hidden modal -->
  <div id="help-modal" class="modal bottom-sheet">
    <div class="modal-content modal-content-glossary">
      <h5>What do all the numbers mean?</h5>
      <h6 class="thin bold500">Stars</h6>
      <blockquote>The number of people who have starred their repo. This often indicates popularity of the project.</blockquote>
      <h6 class="thin bold500">Contributors</h6>
      <blockquote>The number of people who have contributed to Master. </blockquote>
      <h6 class="thin bold500">Forks</h6>
      <blockquote>The number of times a repo has been forked. A high number of forks means that users are actively using the project or app.</blockquote>
      <h6 class="thin bold500">Last Updated</h6>
      <blockquote>This is the most recent merge to master. It is a good sign when a merge has happened recently - you could assume the owners of the project are actively maintaining their project.</blockquote>
      <h6 class="thin bold500">Participation Rate</h6>
      <blockquote>This is the ratio of contributors to stargazers. Higher rate may indicate greater participation from the community.</blockquote>
      <h6 class="thin bold500">Pull Request Rate</h6>
      <blockquote>This is the ratio of currently open pull requests to open issues. It approximately measures how many open issues are being worked on at any given time.</blockquote>
      <h6 class="thin bold500">Contributor Guidelines</h6>
      <blockquote>Thumbs up means there is a contributor guideline available in the project root directory.</blockquote>
      <h6 class="thin bold500">Code of Conduct</h6>
      <blockquote>A star means there is a contributor covenant or code of conduct available in the project root directory. If there isn't one, maybe that could be your first contribution to open-source! For more on code of conduct see: <a href="http://contributor-covenant.org/">http://contributor-covenant.org/</a></blockquote>
    </div>
  </div>