<!-- This is a hidden modal -->
<a href="https://github.com/login/oauth/authorize?scope=user:email,public_repo&client_id=<%= @client_id %>">
  <div id="modal1" class="modal">
    <div class="modal-content">
      <%= image_tag "github.png", id: "github_logo", class: "col s2" %>
    </div>
    <div id="modal-text">
      <h3><b>Sign in with Github!</b></h3>
      <a href="/display">Continue without connecting your github</a>
    </div>
  </div>
</a>