<div class="container">
  <div class="card large">
    
    <div id="repo-header" class="center-align">
      <h2 id="repo-title">Repo Name</h2>
      <h5 id="repo-description">Description</h5>
    </div>

    <div id="repo-attributes">
      <p>attributes will go here</p>
    </div>

  </div>
</div>