<div class="container" id="repo-container">
  <div class="card large">

    <div id="repo-header" class="center-align">
      <div class="row repo-blue-color center-align rounded-corners">

        <div id="repo-top-half" class="col m10 offset-m1">
          <h3 class="thin" id="repo-title">Repo Name</h3>
          <h6 class="thin bold500" id="repo-full-name">Repo Full Name</h6>
          <h6 class="thin" id="repo-description">Description</h6>
          <span class="thin bold500 white-text custom-badge language-badge-style" id="repo-language">Language<span id="repo-language"></span>
        </div>
      </div>

      <div id="repo-attributes" class="repo-blue-color rounded-corners display-in-line medium-height width90">
        <div id="stats-box-left" class="float-left display-in-line">
          <h6 class="thin">
             <table>
              <tbody>
                <tr>
                  <td><span class="bold400">Stars:</span> <span id="repo-stars"></span></td>
                  <td><span class="bold400">Contributors:</span> <span id="contributors-count"></span></td>

                </tr>
                <tr>
                  <td><span class="bold400">Forks:</span> <span id="repo-forks"></span></td>
                </tr>
              </tbody>
            </table>
         </h6>
       </div>
       <div id="stats-box-right" class="width50 small-side-margins display-in-line float-right">
          <div class="display-in-line float-left small-left-margin center-align width20 col s6 m3">
            <span id="contributors-percent" class="thin bold600 custom-badge custom-badge-style tooltipped" data-position="top" data-delay="35" data-tooltip="% of contributors to stargazers"></span><br>
            <span class="thin">Participation Rate</span>
          </div>
          <div class="display-in-line float-left small-left-margin width20 col s6 m3">
            <span id="pull-request-percent" class="thin bold600 custom-badge custom-badge-style tooltipped" data-position="top" data-delay="35" data-tooltip="% open pull requests to open issues"></span><br>
            <span class="thin">Pull Request Rate</span>
          </div>
          <div class="display-in-line float-left small-left-margin width20 col s6 m3">
            <i class="small material-icons tooltipped" data-position="top" data-delay="35" data-tooltip="CONTRIBUTING file in the root directory?">thumb_up</i><br>
            <span class="thin">Contributor Guidelines</span>
          </div>
          <div class="display-in-line float-left small-left-margin width20 col s6 m3 tooltipped" data-position="top" data-delay="35" data-tooltip="CODE_OF_CONDUCT file in the root directory? If not, make this your first contribution!">
            <i class="small material-icons">thumb_up</i><br>
            <span class="thin">Code of Conduct</span>
          </div>
      </div>
    </div>


    <div class="left-align">
      <h6 class="thin bold500">Open Issues</h6>
        <ul id="issue-list" class="collection-item collapsible avatar" data-collapsible="accordion">
        </ul>
    </div>

  </div>

</div>

<div id="display-buttons" class="row center-align wide-button">
 <% if session[:access_token] %>
  <div class="display-in-line">
    <form id="hide-form" method="post" action="/hide" data-remote="true">
      <button type="submit" value="Hide" id="hide" class="red darken-3 waves-effect btn-large thin btn btn-2"onclick="Materialize.toast('<span class=&quot;grey lighten-5 toast black-text&quot> Repo is hidden! </span>', 2000)"> Hide </button>
      <input type="hidden" name="authenticity_token" value="">
    </form>
  </div>
  <div class="display-in-line">
    <form method="post" action="/star" data-remote="true">
      <button type="submit" value="Like" id="star" class="waves-effect btn-large thin btn btn-2" onclick="Materialize.toast('<span class=&quot;grey lighten-5 toast black-text&quot> Repo is starred! </span>', 2000)"> Like </button>
      <input type="hidden" name="authenticity_token" value="">
    </form>
  </div>
  <% else %>
  <button class="waves-effect btn-large thin btn btn-2"> Next </button>
  <% end %>

</div>
