<div class="container" id="repo-container">
  <div class="card large">

    <div id="repo-header" class="center-align">
      <h3 id="repo-title">Repo Name</h3>
      <p id="repo-description">Description</p>
    </div>

    <div id="repo-attributes">
    <div class="container">
      <p>Language: <span id="repo-language"></span></p>
      <p>Stars: <span id="repo-stars"></span></p>
      <p>Forks: <span id="repo-forks"></span></p>
    </div>
    </div>

    <div class="center-align">
      <h4>Open Issues</h4>
      <div id="issue-list"></div>
    </div>

  </div>
</div>


<div id="display-buttons" class="center-align">
  <button id="hide">Hide</button>
  <button id="star">Star</button>
</div>