<div class="container" id="repo-container">
  <div class="card large">

    <div id="repo-header" class="center-align">
      <h2 id="repo-title">Repo Name</h2>
      <h5 id="repo-description">Description</h5>
    </div>

    <div id="repo-attributes">
      <p>attributes will go here</p>
    </div>

  </div>
</div>

<div id="display-buttons" class="center-align">
  <%= button_to "Hide", hide_path, :id =>"hide", remote: true%>
  <%= button_to "Like", star_path, :id =>"star", remote: true %>
</div>


<% if session[:access_token] %>
  <%= session[:access_token] %>
<% end %>
