<div class="container" id="repo-container">
  <div class="card large">
    
    <div id="repo-header" class="center-align">
      <h2 id="repo-title">Repo Name</h2>
      <h5 id="repo-description">Description</h5>
    </div>

    <div id="repo-attributes">
      <p>attributes will go here</p>
    </div>

    <div class="center-align">
      <h5>Open Issues</h5>
      <div id="issue-list">
      </div>
    </div>

  </div>
</div>





<div id="display-buttons" class="center-align">
  <button id="hide">Hide</button>
  <button id="star">Like</button>
</div>