<%= render 'layouts/display_header' %>
<div class="progress hide" id="loader">
     <div class="indeterminate"></div>
 </div>
<div class="container" id="repo-container">
  <div class="card large">
    <div id="repo-header" class="center-align" >
      <div class="row repo-blue-color center-align rounded-corners" data-intro="Basic information about the project including the name, a description, and the primary language" data-position="right">
        <div id="repo-top-half" class="col m10 offset-m1" >
          <h3 class="thin" id="repo-title" ><a href="http://www.github.com/mccallumjack/sinder" target="_blank">Sinder</a></h3>
          <h6 class="thin bold500" id="repo-full-name">mccallumjack/sinder</h6>
          <h6 class="thin" id="repo-description">An open source discovery tool that uses the Github API</h6>
          <span class="thin bold500 white-text custom-badge language-badge-style" id="repo-language">Ruby</span>
        </div>
      </div>

      <div id="repo-attributes" class="repo-blue-color rounded-corners display-in-line medium-height width90 left-align" data-intro="Stats and information that are pertinent to Open Source. A glossary of these metrics can be seen by clicking the question mark within the box at any time." data-position="left">
        <div id="stats-box-left" class="float-left display-in-line">
          <h6 class="thin">
            <table id="stats-table">
              <tbody>
                <tr>
                  <td><span class="bold400">Stars</span><br><span id="repo-stars">35</span></td>
                  <td><span class="bold400">Contributors</span><br><span id="contributors-count">4</span></td>
                </tr>
                <tr>
                  <td><span class="bold400">Forks</span><br><span id="repo-forks">2</span></td>
                  <td><span class="bold400">Last Updated</span><br><span id="last-updated">Wed Jul 22 2015</span></td>
                </tr>
              </tbody>
            </table>
          </h6>
        </div>

        <div id="stats-box-right" class="width50 small-side-margins display-in-line float-left">
          <div class="display-in-line float-left small-left-margin center-align width20 col s6 m3">
            <span id="contributors-percent" class="thin bold600 custom-badge custom-badge-style">17.53%</span><br>
            <span class="thin smaller-fonts bold300">Participation Rate</span>
          </div>
          <div class="display-in-line float-left small-left-margin width20 col s6 m3">
            <span id="pull-request-percent" class="thin bold600 custom-badge custom-badge-style">68.34%</span><br>
            <span class="thin smaller-fonts bold300">Pull Request Rate</span>
          </div>
          <div class="display-in-line float-left small-left-margin width20 col s6 m3">
            <i id="contributors-file" class="small material-icons">thumb_up</i><br>
            <span class="thin smaller-fonts bold300">Contributor Guidelines</span>
          </div>
          <div class="display-in-line float-left small-left-margin width20 col s6 m3">
            <i id="code-of-conduct-icon" class="small material-icons">stars</i><br>
            <span class="thin smaller-fonts bold300">Code of Conduct</span>
          </div>
        </div>

        <div id="stats-box-question" class="width5 small-side-margins display-in-line float-left">
          <a class="modal-trigger material-icons" href="#help-modal">help</a>
        </div>

      </div>

      <%= render 'issues' %>

    </div>
  </div>

  <%= render 'badge_glossary' %>

  <div id="display-buttons" class="row center-align wide-button">
    <% if session[:access_token] %>
      <div class="display-in-line" data-intro="Hide the repo so you won't see it the next time you go through." data-position="left">
        <form id="hide-form" method="post" action="/hide" data-remote="true">
          <button type="submit" value="Hide" id="hide" class="red darken-3 waves-effect btn-large thin btn btn-2" onclick="Materialize.toast('<span class=&quot;grey lighten-5 toast black-text&quot> Repo is hidden! </span>', 2000)"> Hide </button>
          <input type="hidden" name="authenticity_token" value="">
        </form>
      </div>
      <div class="display-in-line" data-intro="Star the repo. This will add it to your Github 'Starred Repo' page" data-position="right">
        <form method="post" action="/star" data-remote="true">
          <button type="submit" value="Like" id="star" class="waves-effect btn-large thin btn btn-2" onclick="Materialize.toast('<span class=&quot;grey lighten-5 toast black-text&quot> Repo is starred! </span>', 2000)"> Star </button>
          <input type="hidden" name="authenticity_token" value="">
        </form>
      </div>
    <% else %>
      <button class="waves-effect btn-large thin btn btn-2" data-intro="Go to the next repo" data-position="left">Next</button>
    <% end %>
  </div>
</div>



<div id="modal1" class="modal">
  <div class="center-align thin">
    <br>
    <h3><b>Thank you for using Sinder!</b></h3>
    <h4>You have finished all of the repos that meet your current search criteria. Please change your search criteria or reset your search history to continue.</h4>
    <h4>
      <% if session[:access_token] %>
        <a href="https://www.github.com/stars">Contribute to one of your starred repos</a>
        <p>or</p>
        <a href="/reset_interactions">Reset search history</a>
      <% else %>
        <a href="/display">Restart search</a>
      <% end %>
    </h4>
    <br>
  </div>
</div>

