<div class="container" id="repo-container">
  <div class="card large">
    <div id="repo-header" class="center-align" >
      <div class="row repo-blue-color center-align rounded-corners" data-intro="Basic information about the project, including the name, a description, and the primary language" data-position="right">
        <div id="repo-top-half" class="col m10 offset-m1" >
          <h3 class="thin" id="repo-title" >Sinder</h3>
          <h6 class="thin bold500" id="repo-full-name">mccallumjack/sinder</h6>
          <h6 class="thin" id="repo-description">An open source discovery tool that uses the Github API</h6>
          <span class="thin bold500 white-text custom-badge language-badge-style" id="repo-language">Ruby</span>
        </div>
      </div>

      <div id="repo-attributes" class="repo-blue-color rounded-corners display-in-line medium-height width90" data-intro="Stats and information that are pertinent to Open Source. More information about these metrics can be found on our FAQ or on the tooltips" data-position="left">
        <div id="stats-box-left" class="float-left display-in-line">
          <h6 class="thin">
            <table>
              <tbody>
                <tr>
                  <td><span class="bold400">Stars: </span><span id="repo-stars">35</span></td>
                  <td><span class="bold400">Contributors: </span><span id="contributors-count">4</span></td>
                </tr>
                <tr>
                  <td><span class="bold400">Forks: </span><span id="repo-forks">2</span></td>
                </tr>
              </tbody>
            </table>
          </h6>
        </div>

        <div id="stats-box-right" class="width50 small-side-margins display-in-line float-right">
          <div class="display-in-line float-left small-left-margin center-align width20 col s6 m3">
            <span id="contributors-percent" class="thin bold600 custom-badge custom-badge-style tooltipped" data-position="top" data-delay="35" data-tooltip="% of contributors to stargazers">17.53%</span><br>
            <span class="thin smaller-fonts bold300">Participation Rate</span>
          </div>
          <div class="display-in-line float-left small-left-margin width20 col s6 m3">
            <span id="pull-request-percent" class="thin bold600 custom-badge custom-badge-style tooltipped" data-position="top" data-delay="35" data-tooltip="% open pull requests to open issues">68.34%</span><br>
            <span class="thin smaller-fonts bold300">Pull Request Rate</span>
          </div>
          <div class="display-in-line float-left small-left-margin width20 col s6 m3 tooltipped" data-position="top" data-delay="35" data-tooltip="CONTRIBUTING file in the root directory?">
            <i id="contributor-icon" class="small material-icons"></i><br>
            <span id="contributor-label" class="thin smaller-fonts bold300">Contributor Guidelines</span>
          </div>
          <div class="display-in-line float-left small-left-margin width20 col s6 m3 tooltipped" data-position="top" data-delay="35" data-tooltip="CODE_OF_CONDUCT file in the root directory? If not, make this your first contribution!">
            <i id="code-of-conduct-icon" class="small material-icons"></i><br>
            <span id="code-of-conduct-label" class="thin smaller-fonts bold300">Code of Conduct</span>
          </div>
        </div>
      </div>

      <div class="left-align" data-intro="These are currently open issues on the repo. Think of these as a few examples of issues that the project needs help on" data-position="right">
        <h6 class="thin bold500">Open Issues</h6>
        <ul id="issue-list" class="collection-item collapsible avatar" data-collapsible="accordion">
          <li>
            <div class="collapsible-header thin bold400 repo-header-color lighten-2"><i class="material-icons">code</i>Add more repos to the list</div>
            <div class="collapsible-body thin bold400 grey lighten-2" style="">
              <div class="display-in-line width70"><p>Created: Wed Jul 22 2015<br>Comments: 0</p></div>
              <div class="valign-wrapper float-right">
                <div class="small-top-margin valign"><p></p></div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header thin bold400 repo-header-color lighten-2"><i class="material-icons">code</i>API - improve server response time </div>
            <div class="collapsible-body thin bold400 grey lighten-2" style="">
              <div class="display-in-line width70"><p>Created: Wed Jul 22 2015<br>Comments: 0</p></div>
              <div class="valign-wrapper float-right">
                <div class="small-top-margin valign"><p><span class="label thin" style="background-color:#AD7FA8;color:black;">API Design</span> <span class="label thin" style="background-color:#AFEEEE;color:black;">Timeseries</span></p></div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header thin bold400 repo-header-color lighten-2"><i class="material-icons">code</i>Fix header CSS Bug</div>
            <div class="collapsible-body thin bold400 grey lighten-2" style="">
              <div class="display-in-line width70"><p>Created: Wed Jul 22 2015<br>Comments: 1</p></div>
              <div class="valign-wrapper float-right">
                <div class="small-top-margin valign"><p><span class="label thin" style="background-color:#e10c02;color:white;">Bug</span> <span class="label thin" style="background-color:#0052cc;color:white;">Google I/O</span></p></div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="display-buttons" class="row center-align wide-button">
    <% if session[:access_token] %>
      <div class="display-in-line" data-intro="Hide the repo so you won't see it the next time you go through." data-position="left">
        <form id="hide-form" method="post" action="/hide" data-remote="true">
          <button type="submit" value="Hide" id="hide" class="red darken-3 waves-effect btn-large thin btn btn-2" onclick="Materialize.toast('<span class=&quot;grey lighten-5 toast black-text&quot> Repo is hidden! </span>', 2000)"> Hide </button>
          <input type="hidden" name="authenticity_token" value="">
        </form>
      </div>
      <div class="display-in-line" data-intro="Star the repo. This will add it to your Github 'Starred Repo' page" data-position="right">
        <form method="post" action="/star" data-remote="true">
          <button type="submit" value="Like" id="star" class="waves-effect btn-large thin btn btn-2" onclick="Materialize.toast('<span class=&quot;grey lighten-5 toast black-text&quot> Repo is starred! </span>', 2000)"> Like </button>
          <input type="hidden" name="authenticity_token" value="">
        </form>
      </div>
    <% else %>
      <button class="waves-effect btn-large thin btn btn-2" data-intro="Go to the next repo" data-position="left" >Next</button>
    <% end %>
  </div>
</div>

<div id="modal1" class="modal">
  <div class="center-align thin">
    <br>
    <h3><b>Thank you for using Sinder!</b></h3>
    <h4>You have finished all of the repos that meet your current search criteria. Please change your search criteria or reset your search history to continue.</h4>
    <h4>
      <% if session[:access_token] %>
        <a href="https://www.github.com/stars">Contribute to one of your starred repos</a>
        <p>or</p>
        <a href="/reset_interactions">Reset search history</a>
      <% else %>
        <a href="/display">Restart search</a>
      <% end %>
    </h4>
    <br>
  </div>
</div>
