<div class="container" id="repo-container">
  <div class="card large">

    <div id="repo-header" class="center-align">
      <div class="row repo-header-color center-align rounded-corners">

        <div id="repo-top-half" class="col m10 offset-m1">
          <h3 class="thin" id="repo-title">Repo Name</h3>
          <h6 class="thin" id="repo-full-name">Repo Full Name</h6>
          <h5 class="thin" id="repo-description">Description</h5>

          <div id="repo-attributes">
            <div class="display-in-line">
              <h5 class="thin">Language: <span id="repo-language"></span>
              Stars: <span id="repo-stars"></span> Forks: <span id="repo-forks"></span></h5>
              <h5 class="thin"> Contributors Count:  <span id="contributors-count"></span> Contributors File:  <span id="contributors-file"></span>
                 Contributors Percent: <span id="contributors-percent"></span>
                 Pull Request Percent: <span id="pull-request-percent"></span>
              </h5>
            </div>
          </div>
        </div>

        <div>
          This
        </div>

      </div>

    <div class="left-align">
      <h5 class="thin">Open Issues</h5>
        <ul id="issue-list" class="collection-item collapsible avatar" data-collapsible="accordion">
        </ul>
    </div>

  </div>

</div>

<div id="display-buttons" class="row center-align wide-button">
  <% if session[:access_token] %>
  <div class="display-in-line">
    <form id="hide-form" method="post" action="/hide" data-remote="true">
      <button type="submit" value="Hide" id="hide" class="red darken-3 waves-effect btn-large thin btn btn-2"> Hide </button>
      <input type="hidden" name="authenticity_token" value="">
    </form>
  </div>
  <div class="display-in-line">
    <form method="post" action="/star" data-remote="true">
      <button type="submit" value="Like" id="star" class="waves-effect btn-large thin btn btn-2"> Like </button>
      <input type="hidden" name="authenticity_token" value="">
    </form>
  </div>
  <% else %>
  <button class="waves-effect btn-large thin btn btn-2">Next</button>
  <% end %>

</div>
