<div id="main-screen">
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center pale-blue-text text-lighten-2">Welcome to Sinder</h1>
        <div class="row center">
          <h5 class="header col s12 light white-text">We Match developers with Open Source projects</h5>
        </div>
          <div class="row center">
            <% if session[:access_token] %>
              <a href="/display" class="btn-large waves-effect waves-light repo-header-color">Go to Repos</a>
            <% else %>
              <a href="#modal1" class="btn-large waves-effect waves-light repo-header-color modal-trigger modal-close">Get Started</a>
            <% end %>
          </div>
        <br><br>

      </div>
    </div>
    <div class="parallax"><%= image_tag 'night-sky.jpg' %></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row pale-blue-text thin">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons large">perm_identity</i></h2>
            <h5 class="center">Link Your Github Account</h5>
            <p class="light">We use your github so that you can automatically star repos from within Sinder. This also lets us filter out repos you are already following.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons large">polymer</i></h2>
            <h5 class="center">View Open Source Projects</h5>
            <p class="light">See Open Source projects in your selected languages. Sinder puts all the important characteristics of a repo front and center, including open issues, so that you can make an informed decision about whether the repo is right for you.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center"><i class="material-icons large">thumb_up</i></h2>
            <h5 class="center">Contribute!</h5>

            <p class="light">Contribute, because thats the whole point</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- This is a hidden modal -->

<a href="https://github.com/login/oauth/authorize?scope=user:email,public_repo&client_id=<%= @client_id %>">
  <div id="modal1" class="modal">
    <div class="modal-content">
      <%= image_tag "github.png", id: "github_logo", class: "col s2" %>
    </div>
    <div id="modal-text">
      <h3><b>Sign in with Github!</b></h3>
      <a href="/display">Continue without connecting your github</a>
    </div>
  </div>
</a>
