/*Roboto styles*/
.bold600{
  font-weight: 600;
}

.bold500{
  font-weight: 500;
}

.bold400{
  font-weight: 400;
}

.bold300{
  font-weight: 300;
}

.light_italic{
  font-style: italic;
}

.thin{
  font-style: thin;
}

/*Button media queries*/
.btn {
  color: #fff;
  cursor: pointer;
  font-size:16px;
  font-weight: 400;
  line-height: 45px;
  margin: 0 auto 2em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: middle;

  @media(min-width: 400px) {
    display: inline-block;
    margin-right: 2.5em;

    &:nth-of-type(even) {
      margin-right: 0;
    }
  }

  @media(min-width: 600px) {

    &:nth-of-type(even) {
      margin-right: 2.5em;
    }

    &:nth-of-type(5) {
      margin-right: 0;
    }

  }

  &:hover { text-decoration: none; }

}

.btn-2 {
    letter-spacing: 0;
}

.btn-2:hover,
.btn-2:active {
  letter-spacing: 5px;
}

.btn-2:after,
.btn-2:before {
  backface-visibility: hidden;
  border: 1px solid rgba(#fff, 0);
  bottom: 0px;
  content: " ";
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
}

.btn-2:hover:after,
.btn-2:hover:before {
  backface-visibility: hidden;
  border-color: #fff;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.btn-2:hover:before {
  bottom: auto;
  top: 0;
  width: 70%;
}

/*Other custom CSS*/

body{
  background-color: #2D3033;
}

nav ul a{
  color: #2D3033;
}

nav .brand-logo{
  color: #2D3033;
}

.wide-button .btn{
  width: 350px;
}

.repo-header-color{
  background-color: #C3D7DF;
}

.display-in-line{
  display: inline-block;
}

.header-color{
  background-color: #EBEBEB;
  color: #2D3033;
}

.width70{
  width: 70%;
}

.float-right{
  float: right;
}

.small-top-margin{
  margin-top: 3%;
}

#repo-header{
  margin: 3%;
  height: 100%
}

#repo-top-half{
  margin-top: 1%;
  margin-bottom: 5%;
  height: 220px;
}

#github_logo{
  width: 100px;
}

#modal-text{
  display: inline-block;
  float: right;
  width: 70%;
  margin-top: 5%;
}

.modal-content{
  width: 25%;
  display: inline-block;
  margin-right: 0;
}

.card.large {
  height:650px;
  border-radius: 20px;
}

.rounded-corners{
  border-radius: 20px;
}

.red-text{
  color: #c62828;
}

.pale-blue-text{
  color: #C3D7DF;
}

table {
  border-bottom:1px black solid;
}
