   <nav class="light-blue lighten-1">
    <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
        <ul class="right hide-on-med-and-down" id="lang-nav">
          <li><a href="#" ng-click="active= 'All Languages'">All Languages</a></li>
          <li><a href="#" ng-click="active= 'Ruby'">Ruby</a></li>
          <li><a href="#" ng-click="active='Python'">Python</a></li>
          <li><a href="#"ng-click="active='JavaScript'">JavaScript</a></li>
          <li><a href="#" ng-click="active='Go'">Go</a></li>
        </ul>
      </div>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
  </nav>