   <nav class="header-color thin">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Sinder</a>
        <ul class="right hide-on-med-and-down" id="lang-nav">
          <li><a href="#">All Languages</a></li>
          <li><a href="#">Ruby</a></li>
          <li><a href="#">Python</a></li>
          <li><a href="#">JavaScript</a></li>
          <li><a href="#">Go</a></li>
          <% if session[:access_token] %>
            <li><a href="/logout">Logout</a></li>
          <% end %>
        </ul>
      </div>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">Navbar Link</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
  </nav>
