   <nav class="header-color thin">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Sinder</a>
        <ul class="right hide-on-med-and-down" id="dont-disable">
          <% if session[:access_token] %>
            <li class=".dont-disable bold400"><a href="https://www.github.com/stars" target="_blank">Starred Repos</a></li>
            <li class=".dont-disable bold400"><a href="/logout">Logout</a></li>
          <% end %>
        </ul>
        <ul class="right hide-on-med-and-down" id="lang-nav">
          <li id="all-lang"><a href="#">All Languages</a></li>
          <li id="ruby"><a href="#" >Ruby</a></li>
          <li id="python"><a href="#">Python</a></li>
          <li id="javascript"><a href="#">JavaScript</a></li>
          <li id="go"><a href="#">Go</a></li>
        </ul>
      </div>

      <ul id="nav-mobile" class="side-nav">
        <li><a href="#">All Languages</a></li>
        <li><a href="#">Ruby</a></li>
        <li><a href="#">Python</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">Go</a></li>
      </ul>
      <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>

    </div>
  </nav>
