   <nav class="header-color thin">
    <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Sinder</a>
        <ul class="right hide-on-med-and-down" id="dont-disable">
          <% if session[:access_token] %>
            <li class=".dont-disable bold400"><a href="https://www.github.com/stars" target="_blank">Starred Repos</a></li>
            <li class=".dont-disable bold400"><a href="/logout">Logout</a></li>
          <% else %>
            <li class=".dont-disable bold400"><a href="https://github.com/login/oauth/authorize?scope=user:email,public_repo&client_id=<%= @client_id %>">Login</a></li>
          <% end %>
        </ul>
    </div>
  </nav>
