<!DOCTYPE html>
<html ng-app="sinderApp">
<head>
  <title>Sinder</title>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular-resource.min.js"></script>
  <%= javascript_include_tag "application" %>


</head>
<body>

<%= yield %>

</body>
</html>
